.cabecalho{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.cabecalho img{
    padding: 20px;

}

.cabecalho-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.cabecalho-intro{
    background-color: #E40613;
}