header{
    background-color: #000119;
}

.cabecalho{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

@media(max-width:810px){
    .cabecalho{
    width: 100%;
    grid-template-columns: 150px 1fr;
    font-size: 15px;
    }
}

.cabecalho img{
    padding: 20px;
}

.cabecalho-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

@media(max-width:810px){
    .cabecalho-menu{
        gap: 10px;
        justify-content: end;
    }
}
@media(max-width:400px){
    .cabecalho{
        grid-template-columns: 50px 1fr;
        font-size: 10px;
    }
}

.cabecalho-menu a{
    color: #848484;
    padding: 5px 10px;
    border-left: 4px solid transparent;
}

.cabecalho-menu a:hover{
    border-left: 4px solid #E40613;
}

.cabecalho-intro{

    background-color: #E40613;
    position: relative;
    text-align: center;
}

#position-img{
    position: absolute;
    max-width: 500px;
    top: -50px;
}

.cabecalho-titulo {
    font-size: 2.5rem;
    color: white;
    height: 350px;
    padding-left: 100px;
}

.cabecalho-titulo h1{
    line-height: 45px;
}

.cabecalho-titulo h1::before{
    content: "Sou";
    font-size: 2rem;
    padding-right: 10px;
}

.cabecalho-titulo p{
    font-size: 1.6rem;
    max-width: 30ch;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

@media(max-width:1000px){
    #position-img{
    display: none;
    }

    .cabecalho-titulo{
    margin-left: -100px;

    }
}
@media(max-width:550px){
    .cabecalho-titulo{
        height: 250px;
    }

    .cabecalho-titulo h1{
        font-size: 2.0rem;
    }

    .cabecalho-titulo p {
        font-size: 1.3rem;
    }


}
