.cabecalho{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.cabecalho img{
    padding: 20px;

}

.cabecalho-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.cabecalho-menu a{
    color: #848484;
    padding: 5px 10px;
    border-left: 4px solid transparent;
}

.cabecalho-menu a:hover{
    border-left: 4px solid #E40613;
}

.cabecalho-intro{
    background-color: #E40613;
    position: relative;
    text-align: center;
}

#position-img{
    position: absolute;
    max-width: 500px;
    top: -50px;
}

.cabecalho-titulo {
    font-size: 2.5rem;
    color: white;
    height: 350px;

}

.cabecalho-titulo h1{
    line-height: 45px;
}

.cabecalho-titulo h1::before{
    content: "Sou";
    font-size: 2rem;
    padding-right: 10px;
}

.cabecalho-titulo p{
    font-size: 1.6rem;
    max-width: 30ch;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

