#produtos{
    font-size: 3.5rem;
    color: #E40613;
    text-align: center;
    margin-bottom: 60px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 995px;
}

.produtos img{
    max-width: 200px;
    height: 240px;
}

